
.background {
    -fx-background-color: lightblue;
}


.selector {
    -fx-fill: url("/images/util/selector.png");
}



/* UI STUFF */
.titleWindow {
    -fx-background-color: rgba(0, 0, 0, .7);
}

.titleTitleLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 80;
    -fx-text-fill: rgba(255, 255, 255, .9);
    -fx-alignment: center;
}

.titlePlayLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 38;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: center;
}

.titlePlayLabel:hover {
    -fx-text-fill: rgba(255, 255, 255, .9);
}



.pauseWindow {
    -fx-background-color: rgba(0, 0, 0, .8);
    -fx-background-radius: 5%;
    -fx-border-color: rgba(255, 255, 255, .8);
    -fx-border-radius: 3%;
    -fx-border-width: 4;
}

.pauseLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 30;
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-alignment: center;
}

.pauseLabel:hover {
    -fx-text-fill: rgba(255, 255, 255, .9);
}



.dialogWindow {
    -fx-background-color: rgba(0, 0, 0, .8);
    -fx-background-radius: 4%;
    -fx-border-color: rgba(255, 255, 255, .8);
    -fx-border-radius: 2%;
    -fx-border-width: 4;
}

.dialogWindowTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}

.dialogWindowSubTitle {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-text-fill: rgba(255, 255, 255, .6);
    -fx-alignment: CENTER-LEFT;
}

.dialogWindowInStockLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 13;
    -fx-text-fill: rgba(255, 255, 255, .5);
    -fx-alignment: CENTER-LEFT;
}



.scrollingMessageWindow {
    -fx-background-color: transparent;
}

.scrollingLabel {
    -fx-background-color: linear-gradient(from 85% 85% to 100% 100%, rgba(0, 0, 0, .2), transparent);
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15;
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-padding: 0 0 0 10;
    -fx-alignment: CENTER-LEFT;
}



.healthBar {
    -fx-border-color: rgba(0, 0, 0, .2);
    -fx-border-width: 3;
    -fx-border-radius: 2%;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 2, 0.2, 0.0, 0.0);
}

.healthBar  > .bar {
    -fx-background-color: rgba(238, 52, 52, .8);
    -fx-padding: 1px;
    -fx-background-insets: 0;
}

.healthBar  > .track {
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
}



.energyBar {
    -fx-border-color: rgba(0, 0, 0, .2);
    -fx-border-width: 3;
    -fx-border-radius: 2%;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 2, 0.2, 0.0, 0.0);
}

.energyBar  > .bar {
    -fx-background-color: rgba(52, 182, 238, .8);
    -fx-padding: 1px;
    -fx-background-insets: 0;
}

.energyBar  > .track {
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
}



.currentEquipmentRec {
    -fx-stroke: rgba(0, 0, 0, .5);
    -fx-arc-width: 5;
    -fx-arc-height: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0.2, 0.0, 0.0);
}

.currentEquipmentLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12;
    -fx-text-fill: rgba(0, 0, 0, .7);
    -fx-alignment: CENTER-LEFT;
}

.statusLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}



.equipmentWindow {
    -fx-background-color: rgba(0, 0, 0, .8);
    -fx-background-radius: 4%;
    -fx-border-color: rgba(255, 255, 255, .8);
    -fx-border-radius: 2%;
    -fx-border-width: 4;
}

.equipmentRec {
    -fx-arc-width: 5;
    -fx-arc-height: 5;
}

.equipmentRec:hover {
    -fx-stroke: rgba(255, 255, 255, .3);
}

.equipmentCurrentRec {
    -fx-stroke: rgba(255, 255, 255, .3);
    -fx-arc-width: 5;
    -fx-arc-height: 5;
}

.equipmentCurrentRec:hover {
    -fx-stroke: rgba(255, 255, 255, .6);
}

.equipmentTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}

.equipmentLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}

.dividerLine {
    -fx-stroke: rgba(255, 255, 255, .2);
    -fx-stroke-width: 1;
}

.cancelRec {
    -fx-fill: url("/images/util/cancel.png");
    -fx-opacity: .5;
}

.cancelRec:hover {
    -fx-opacity: .8;
}

.equipmentStatsWindow {
    -fx-background-color: rgba(0, 0, 0, .6);
    -fx-background-radius: 4%;
    -fx-border-color: rgba(255, 255, 255, .5);
    -fx-border-radius: 2%;
    -fx-border-width: 2;
}

.statsTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 14;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}

.statsLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}




/* INVENTORY WINDOW */
.inventoryWindow {
    -fx-background-color: #D8C198;
    -fx-background-radius: 5%;
    -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, #86594B, #774944);
    -fx-border-width: 17;
    -fx-border-radius: 2%;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.inventoryTitleLabel {
    -fx-background-color: #D9C3A6;
    -fx-background-radius: 5;
    -fx-border-color: transparent #86594B #86594B #86594B;
    -fx-border-width: 10;
    -fx-border-radius: 5;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 22;
    -fx-alignment: center;
    -fx-padding: 0 0 5 0;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

.inventorySlotsBackground {
    -fx-background-color: #876A47;
    -fx-background-radius: 3%;
    -fx-border-color: rgba(99, 77, 51, .4);
    -fx-border-width: 2;
    -fx-border-radius: 2%;
}

.inventorySlotsRec {
    -fx-fill: #D9C3A6;
    -fx-arc-height: 5;
    -fx-arc-width: 5;
    -fx-stroke: rgba(247, 233, 199, .4);
    -fx-stroke-width: 2;
}

.inventoryAmountLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-font-size: 10;
    -fx-alignment: center;
}




/* CRAFTING WINDOW */
.craftingWindow {
    -fx-background-color: rgba(0, 0, 0, .8);
    -fx-background-radius: 4%;
    -fx-border-color: rgba(255, 255, 255, .8);
    -fx-border-radius: 2%;
    -fx-border-width: 4;
}

.craftingWindowTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}




/* BUILDING WINDOW */
.buildingWindow {
    -fx-background-color: rgba(0, 0, 0, .8);
    -fx-background-radius: 4%;
    -fx-border-color: rgba(255, 255, 255, .8);
    -fx-border-radius: 2%;
    -fx-border-width: 4;
}

.buildingRec {
    -fx-arc-width: 5;
    -fx-arc-height: 5;
}

.buildingRec:hover {
    -fx-stroke: rgba(255, 255, 255, .3);
}

.buildingTitle {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
    -fx-text-fill: rgba(255, 255, 255, .7);
    -fx-alignment: CENTER-LEFT;
}


/* CRAFTING */
.scrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10;
}

.scroll-bar .thumb {
    -fx-background-color: #778089;
}

.resultRec {
    -fx-arc-width: 5;
    -fx-arc-height: 5;
}

.resultRec:hover {
    -fx-stroke: rgba(255, 255, 255, .3);
}

.ingredientRec {
    -fx-arc-width: 5;
    -fx-arc-height: 5;
}







/* EQUIPMENT */
.arrowFire {
    -fx-fill: url("/images/equipment/arrowFire.png");
}

.arrowIce {
    -fx-fill: url("/images/equipment/arrowIce.png");
}

.arrowMana {
    -fx-fill: url("/images/equipment/arrowMana.png");
}

.arrowRich {
    -fx-fill: url("/images/equipment/arrowRich.png");
}

.arrowRoot {
    -fx-fill: url("/images/equipment/arrowRoot.png");
}